/* CSS Document */
.fred {
	color: #CC0000;
	text-decoration: none;
	font-size: 12px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
}
a.fred:visited {
	color: #CC0000;
	text-decoration: none;
}
a.fred:hover {
	color: #CC0000;
	text-decoration: underline;
}

#newsBox {
	height: 22px;
	line-height: 22px;
	margin-left: 0px;
}
#newsList2 {
	width: 250px;
	float: left;
	clear: left;
	text-align: left;
	display: inline;
	overflow: hidden;
}

#newsList {
	width: 250px;
	float: left;
	clear: left;
	text-align: left;
	display: inline;
	overflow: hidden;
}
.newsList {
	FONT-SIZE: 12px;
	COLOR: #323232;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	vertical-align: baseline;
	text-align: left;
}
A.newsList:hover {
	TEXT-DECORATION: underline}
A.newsList:visited {
	FONT-SIZE: 12px; COLOR: #323232}

#newsData {
	width: 70px;
	clear: right;
	float: right;
	font-size: 12px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: right;
	color: #999999;
	display: inline;
	overflow: hidden;
	margin-right: 5px;
}

#tbnews {
	padding-right: 5px;
	padding-left: 5px;
}
.newsListData {
	FONT-SIZE: 12px; COLOR: #CCCCCC; font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tdline_L {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C6C6C6;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
}
#tdline_R {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CECECE;
}
#tdline_T {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#tdline_B {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFCC66;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.inputFormMember{
	font-size:12px;
	COLOR:#000000;
	cursor:hand;
	BACKGROUND-COLOR:#FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #666666;
	height: 18px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
}

.inputFormMultiLine{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #838383;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #838383;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	padding: 2px;
	color: #000000;
	font-weight: normal;
	letter-spacing: 1px;
	width: 500px;
	height: 95px;
	font-size: 12px;
}

.btn_submit{
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
	CURSOR: hand;
	COLOR: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #EB5606;
	background-image: url(../pic/main15.jpg);
	background-position: right center;
	line-height: 24px;
	height: 24px;
	background-repeat: no-repeat;
}
textarea {
	border: 1px solid #CCCCCC;
}
select {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #666666;
	color: #000000;
	width: 50px;
	height: 18px;
}

.inputForm0 {
	font-size:12px;
	COLOR:#000000;
	cursor:text;
	BACKGROUND-COLOR:#ffffff;
	Height:14px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #F5F5F5;
	border-bottom-color: #F5F5F5;
	border-left-color: #999999;
}
.inputForm1 {
	font-size:12px;
	COLOR:#000000;
	cursor:text;
	BACKGROUND-COLOR:#ffffff;
	Height:14px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	width: 40px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #F5F5F5;
	border-bottom-color: #F5F5F5;
	border-left-color: #999999;
}


.contc{
	font-size:14px;
	line-height:20px;
	color:#373737;
	text-decoration:none;
	padding-top: 0px;
}
.titlc{
	font-size:20px;
	line-height:20px;
	text-align: center;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
	border-bottom-width: 0px;
	border-bottom-style: none;
	padding-top: 15px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	font-weight: bold;
}
#oClassName{
	font-size:14px;
	color:#000000;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	height: 18px;
	text-align: left;
	width: 100%;
	font-weight: bold;
	padding-left: 0px;
	line-height: 18px;
}

.kindc{
	font-size:14px;
	color:#000000;
	font-weight:bold;
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-top: 10px;
}
.indxc{
	font-size:14px;
	color:#282828;
	line-height:180%;
	text-decoration:none;
	text-indent: 10px;
	padding-left: 10px;
}
.markc{font-size:12px;text-decoration:none;font-weight:bold}
.datec{
	font-size:12px;
	color:#999999;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.morec{ font-size: 14px; text-decoration: underline; font-weight:bold; color: #666666}
.infodatec{
	font-size: 12px;
	text-decoration: none;
	line-height: 14pt;
	color: #CCCCCC;
	text-align: right;
}
.data_index { font-size: 12px; text-decoration: none; line-height: 14pt; color: #cccccc}
.formc{
	height: 18px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	background-position: center;
	margin-left: 100px;
	margin-top: 30px;
}
.buttonc0{	height: 18px;
	width: 160px;
	border: 1px solid #333333;
	
	
		}
.buttonc1{
	background-color: #CC0000;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-color: #9B0000;
	border-bottom-color: #9B0000;
	line-height: 22px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	cursor: pointer;
	width: 60px;
	height: 22px;
}
.dotLine {
	border-top-style: dashed;
	border-top-color: #333333;
	border-top-width: 1px;
	font-size: 1px;
}
.tdBorderForm{
	padding: 3px;
}.tdForm0 {
	height: 20px;
	width: 80px;
	font-size: 12px;
	text-align: right;
	vertical-align: baseline;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E7E7E7;
	font-weight: bold;
}
.tdForm1 {
	height: 20px;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E7E7E7;
}
.btn1_mouseout {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cccccc);
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	border: 1px solid #CCCCCC;
	margin-top: 5px;
	margin-bottom: 5px;
}
.btn1_mouseover {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#999999);
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	border: 1px solid #999999;
	margin-top: 5px;
	margin-bottom: 5px;
}
.btn1 {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#999999);
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	border: 1px solid #999999;
	margin-top: 5px;
	margin-bottom: 5px;
}
.myinput {
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #666666;
	width: 200px;
}
.myinput3 {
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #666666;
	width: 30px;
}

.myinput2 {
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 16px;
	width: 160px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #666666;
}

.text_0{	font-size:12px;
	COLOR:#000000;
	BACKGROUND-COLOR:#FFFFFF;
	border: 1px solid #333333;
	padding-top: 1px;}


.VerticalLine {
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #F1EEFB;
	padding-left: 5px;
}
.f12gray {
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	color: #999999;
	line-height: 130%;
	text-decoration: none;
}
a.f12gray:hover {
	text-decoration: underline;
}
a.f12gray:visited {
	color: #999999;
}
.f9 {
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	text-decoration: none;
	line-height: 1.5em;
}
a.f9:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
a.f9:hover {
	text-decoration: underline;
}
.recPreInputListTotal{
	font-size: 12px;
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	padding-right: 10px;
	padding-left: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E4E4E4;
	border-left-color: #E4E4E4;
	background-color: #99CCFF;
	font-weight: bold;
	border-top-width: 0px;
	border-top-style: none;
}
.priceListOdd,.memoListOdd,.recPreInputListOdd,.emmisListOdd{
	font-size: 12px;
	line-height: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E4E4E4;
	border-left-color: #E4E4E4;
	background-color: #E6F0F2;
	border-top-width: 0px;
	border-top-style: none;
}
.priceListEven,.memoListEven,.recPreInputListEven,.emmisListEven{
	font-size: 12px;
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	padding-right: 10px;
	padding-left: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E4E4E4;
	border-left-color: #E4E4E4;
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-top-style: none;
}
.priceListTitle,.memoListTitle,.recPreInputListTitle,.emmisListTitle{
	font-weight: bold;
	letter-spacing: 1px;
	background-color: #99CCFF;
	line-height: 25px;
}
.priceListTable,.memoListTable,.recPreInputListTable,.emmisListTable{
	width: 600;
}
.btn_go{
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cccccc);
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 0px;
	border: 1px solid #CCCCCC;
	margin-top: 0px;
	margin-bottom: 3px;
	margin-right: 5px;
	height: 22px;
	line-height: 22px;
}
.txt_no{
	font-size:12px;
	COLOR:#000000;
	cursor:text;
	BACKGROUND-COLOR:#ffffff;
	Height:18px;
	border: 1px solid #666666;
	padding-top: 2px;
	vertical-align: baseline;
	margin-bottom: 3px;
	margin-right: 5px;
}
.trackListTitle{
	background-color: #F0F0F0;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-left-width: 0px;
	border-left-style: none;
}
.trackContentTable{
	background-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
.trackListTable{
	background-color: #FCFCFC;
}

.trackListOdd {
	height: 28px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-top-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-left-style: none;
}
.trackListEven{
	height: 28px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-top-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-left-style: none;
}
.trackHead {
	text-align: left;
}
.trackIntroTable {
	text-align: left;
}
.f14black {
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
a.f14black:hover {
	text-decoration: underline;
}
a.f14black:visited{
	font-family: "ËÎÌå";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.input_track {
	width: 210px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	color: #000000;
	letter-spacing: 1px;
	padding: 3px;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: normal;
	height: 70px;
}
#table_border {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F0F0F0;
	margin-left: 15px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #FFFFFF;
	word-spacing: 1px;
}
#td_border3blue {
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #033374;
	border-left-color: #033374;
	border-bottom-color: #033374;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#td_border3white {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-bottom-width: 0px;
	border-bottom-style: none;
}
.input_login {
	padding: 2px;
	height: 14px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	text-decoration: none;

	width: 125.px;
	line-height: 14px;
	border: 1px solid #B7B7B7;
	background-color: #FFFFFF;
	width: 135px;
}
.input_login2 {
	height: 19px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12px;
	text-decoration: none;
	width: 180px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.bt_track {
	height: 24px;
	width: 90px;
	cursor: pointer;
	text-decoration: none;
	background-image: url(../images/main016.jpg);
	background-repeat: no-repeat;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 24px;
	color: #000000;
	font-size: 12px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
}
.bt_more {
	height: 37px;
	width: 150px;
	cursor: pointer;
	line-height: 37px;
	text-decoration: none;
	background-image: url(/EMS_MODEL/pic/start53.jpg);
	background-repeat: no-repeat;
	margin-right: 5px;
	margin-left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.bt_login {
	height: 37px;
	width: 104px;
	cursor: pointer;
	text-decoration: none;
	background-image: url(../images/btn.gif);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 37px;
	color: #FFFFFF;
	font-size: 14px;
}

.bt_long {
	background-image: url(../images/btnL.gif);
	background-repeat: no-repeat;
	height: 37px;
	width: 145px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 37px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
}
.bt_AcPwd {
	height: 24px;
	width: 47px;
	cursor: pointer;
	text-decoration: none;
	background-image: url(../pic/main15.jpg);
	background-repeat: no-repeat;
	text-align: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 12px;
	padding-left: 10px;
}

a {
	color: #0066FF;
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.fgreen {
	color: #B5E958;
	text-decoration: none;
}
#footerList span {
	color: #000000;
}
hr {
	height: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #999999;
}

.AdviceInput{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #666666;
	line-height: 16px;
	height: 16px;
	width: 250px;
}
#DivInfo h1 {
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #de030b;
}
